* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #E53170;
    padding-top: 30px;
    font-family: 'Fredoka One', cursive;
}

p {
    color: black;
    font-size: 16px;
}

body {
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 12px;
}

.container {
    width: 100%;
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em 1em;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: calc(100% / 3);
    padding: 0 2px;  
    margin-top: 30px;   
}

.col img {
    width: 100px; 
    height: 100px; 
}

.horizontal-layout .float-right{
    float: right;
    width: 200px;
    height: 100px;
    background-color: #0F0E17; 
    margin-right: 21px;  
    padding-top: 20px;
    line-height: 20px;
}

.horizontal-layout img {
    width: 100px;
}

.float-right { 
    padding-left: 15px;
}

a {
    color: #18CCF2;
    text-decoration: none;
}




